.buttons {
  display: flex;
  justify-content: flex-end;
  clear: both;
}
button:disabled,
button:disabled:hover,
button:disabled:active {
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}
.button {
  padding: 1% 2%;
  font-size: 1.3rem;
  border-radius: 30px;
  border: 1px solid rgb(107, 23, 23);
  margin-top: 2%;
}
.button__close-button {
  color: rgb(107, 45, 23);
  background-color: #eee;
}
.button__close-button:hover {
  background: #ddd;
}
.button__close-button:active {
  background: #ccc;
}
.button__order-button {
  color: #eee;
  background-color: rgb(107, 23, 23);
  margin-top: 2%;
  border: none;
  margin-left: 2%;
}
.button__order-button:hover {
  background: rgb(107, 40, 40);
}
.button__order-button:active {
  background: rgb(107, 45, 45);
}
.error-text {
  color: #b40e0e;
}
.right {
  float: right;
}
.success {
  color: rgb(0, 114, 0);
}
