
.amount > label{
    font-weight: bolder;
    font-size: 1.1em;
    margin-right: 10px;
}
.amount > input{
    padding: 0 1% 0 0;
    border-color: #666;
    width: 40px;
    outline: none;
    border:#999 solid 1px;
    padding: 1.8% 0 1.8% 8%;
    border-radius: 5px;
}
.amount{
    display: flex;
}
button[type='submit']{
    margin-top: 10px;
    border-radius: 50px;
    width: 100%;
    background-color: brown;
    color: #eee;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
}
button[type='submit']:hover{
    background-color: rgb(107, 40, 40);
}